/* TASK 1 */
$textColorOne: green;

.taskOne p{
  color: $textColorOne;
}

/* TASK 2 */
@mixin textColor{
    $textColorOne: Blue;
    color: $textColorOne
}
  
.taskTwo p{
    @include textColor;
}

/* TASK 3 */
.taskThree{
    .nestedDiv p{
      color: red;
    }
}

/* TASK 4 */
$backgroundColorOne: #237C95;

@mixin mixinTwo{
  background-color: $backgroundColorOne;
  height: 200px;
  width:200px;
  margin: 10px;
}

.taskFour{
  @include mixinTwo;
}

/* TASK 5 */
$backgroundImage: 'maserati';

.taskFive{
  background-image: url('https://s3.amazonaws.com/bottega-devcamp/scss/cars/#{$backgroundImage}.jpg');
  width: 300px;
  height: 300px;
  object-fit: fill; 
}